.CardActions {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  font-size: 14px;
}

.CardActions button {
  padding: 0.7em 1.3em;
  line-height: 1;
  font-weight: bold;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  background-color: transparent;
}
