.CardActions {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}

.CardActions button {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--bg-light);
  border-color: var(--bg-light);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  background-color: transparent;
}
