.Grid {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #fcfaf7;
}

.Grid tr:first-child td {
  border-top: none;
}

.Grid tr:last-child td {
  border-bottom: none;
}

.Row {
  height: 80px;
}
