.Grid {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--off-white);
}

.Grid tr:first-child td {
  border-top: none;
}

.Grid tr:last-child td {
  border-bottom: none;
}

@media (width >= 800px) {
  .Grid td:first-child {
    border-left: none;
  }

  .Grid td:last-child {
    border-right: none;
  }
}

.Row {
  height: 80px;
}
