.LanguagePicker {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  text-align: right;
  font-size: calc(2vmin + 10px);
}

.LanguagePicker ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.LanguagePicker .current {
  background-color: white;
  border-radius: 50%;
  width: min-content;
  height: 2em; /* needs to match width of Flag */
  overflow: hidden;
  margin-left: auto; /* shouldn't be required? */
  display: flex;
  align-items: center;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.50);
}

.LanguagePicker .menu {
  background-color: white;
  display: none;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.50);
}

.LanguagePicker .menu.open {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.LanguagePicker .menuItem {
  display: flex;
  align-items: center;
  justify-content: end;
}

.LanguagePicker .menuItem .text{
  margin-right: 0.5em;
}

.LanguagePicker .menuItem .Flag{
  border-radius: 2px;
}

.LanguagePicker .currentMenuItem {
  font-weight: bold;
}

.Flag {
  width: 2em;
  overflow: hidden;
}
