.QRCode {
  background-color: var(--bg-light);
}

.QRCodeImage {
  margin: auto;
  display: block;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.QRCodeButton {
  display: inline-block;
  vertical-align: bottom;
  line-height: 0;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
}

.QRCodeIcon {
  height: 2.25em;
  width: 2.25em;
  filter: invert(1);
  background-image: url("../images/qrCodeIcon.svg");
  background-size: cover;
}
