.WordList {
  background-color: #fcfaf7;
  padding: 25px;
  border-left: 5px solid #282c34;
  border-right: 5px solid #282c34;
}

.WordListGroup li {
  margin-bottom: 5px;
}

.WordListGroup-description {
  color: dimgray;
}

.WordList-description {
  font-style: italic;
  color: dimgray;
}
