.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-actions {
  margin-bottom: 15px;
}

.App-actions button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  line-height: 1.15;
  font-weight: bold;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  background-color: transparent;
}
