.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-actions {
  margin-bottom: 15px;
}

.App-actions button {
  padding: 0.5rem 1rem;
  line-height: 1.15;
  font-weight: bold;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  background-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Words {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.Row {
  height: 80px;
}

.Cell {
  font-size: calc(2vw + 4px);
  padding: calc(2vmin - 4px);
  border: 1px solid;
  vertical-align: middle;
  overflow-wrap: break-word;
}
.Cell.stamped {
  background-color: lightblue;
}
