.Content-header {
  margin-block-start: 0; /* reset user agent style */
}

.Content-actions a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  line-height: 1.15;
  font-weight: bold;
  color: var(--bg-light);
  border-color: var(--bg-light);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  background-color: transparent;
}

.Content-footer {
  padding: 25px 0;
}
