.Main-header {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding-bottom: 15px;
}
.Main-header h1 {
  margin-block: 0; /* reset user agent styles */
  padding: 0.67em 0 0.67em;
  font-size: calc(30px + 2vmin);
}
