.Card {
  background-image: url("../images/noise.svg");
  border-bottom: 5px solid var(--bg-dark);
  box-shadow: 0px 5px 23px -8px #000000;
}

.Main-header {
  text-align: center;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  filter: contrast(1.5);
  padding: 15px;
}

.Main-header h1 {
  margin-block: 0; /* reset user agent styles */
  margin-bottom: 10px;
  font-size: calc(20px + 2vmin);
  font-family: "Jost", sans-serif;
  font-weight: 900;
}

.Main-header h1 .bingo {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  text-transform: uppercase;
  font-size: calc(50px + 2vmin);
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
